<!DOCTYPE html>
<html>
<head>
  <title>Bus Pass Booking</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>🚌 Welcome to Bus Pass Portal</h1>
    <a href="/login"><button>Login to Continue</button></a>
  </div>
</body>
</html>
